In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
train = pd.read_csv("train.csv")
train.head()

,ID,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,45654403,13328,1399,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005 km,6.0,Automatic,4x4,04-May,Left wheel,Silver,12
1,44731507,16621,1018,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3,192000 km,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8
2,45774419,8467,-,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000 km,4.0,Variator,Front,04-May,Right-hand drive,Black,2
3,45769185,3607,862,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966 km,4.0,Automatic,4x4,04-May,Left wheel,White,0
4,45809263,11726,446,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901 km,4.0,Automatic,Front,04-May,Left wheel,Silver,4

In [3]:
train.shape

(19237, 18)

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Engine volume     19237 non-null  object
 10  Mileage           19237 non-null  object
 11  Cylinders         19237 non-null  float64
 12  Gear box type     19237 non-null  object
 13  Drive wheels      19237 non-null  object
 14  Doors             19237 non-null  object
 15  Wheel             19237 non-null  object
 16  Color             19237 non-null  object
 17  Airbags           19237 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 2.6+ MB

In [5]:
train.Levy.value_counts()

-       5819
765      486
891      461
639      410
640      405
        ...
2690       1
2866       1
1924       1
841        1
1366       1
Name: Levy, Length: 559, dtype: int64

In [6]:
df_train = train.copy()
df_train["Levy"] = df_train["Levy"].replace({"-" : 0})
df_train.Levy.value_counts()

0       5819
765      486
891      461
639      410
640      405
        ...
1572       1
2819       1
1781       1
970        1
2236       1
Name: Levy, Length: 559, dtype: int64

In [7]:
df_train.Doors.value_counts()

04-May    18332
02-Mar      777
>5          128
Name: Doors, dtype: int64

In [8]:
df_train["Doors"] = df_train["Doors"].replace({"04-May" : "4-5", "02-Mar" : "2-3"})
df_train.Doors.value_counts()

4-5    18332
2-3      777
>5       128
Name: Doors, dtype: int64

In [9]:
len(df_train)

19237

In [10]:
df_train = df_train[(df_train.Model != '09-Mar')]

In [11]:
df_train["Mileage"].head()

0    186005 km
1    192000 km
2    200000 km
3    168966 km
4     91901 km
Name: Mileage, dtype: object

In [12]:
df_train["Mileage"] = df_train["Mileage"].astype(str).str[:-3]

In [13]:
df_train["Mileage"].head()

0    186005
1    192000
2    200000
3    168966
4     91901
Name: Mileage, dtype: object

In [14]:
df_train["Mileage"] = df_train["Mileage"].astype(int)

In [15]:
df_train["Levy"] = df_train["Levy"].astype(int)

In [16]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19235 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19235 non-null  int64
 1   Price             19235 non-null  int64
 2   Levy              19235 non-null  int32
 3   Manufacturer      19235 non-null  object
 4   Model             19235 non-null  object
 5   Prod. year        19235 non-null  int64
 6   Category          19235 non-null  object
 7   Leather interior  19235 non-null  object
 8   Fuel type         19235 non-null  object
 9   Engine volume     19235 non-null  object
 10  Mileage           19235 non-null  int32
 11  Cylinders         19235 non-null  float64
 12  Gear box type     19235 non-null  object
 13  Drive wheels      19235 non-null  object
 14  Doors             19235 non-null  object
 15  Wheel             19235 non-null  object
 16  Color             19235 non-null  object
 17  Airbags           19235 non-null  int64
dtypes: float64(1), int32(2), int64(4), object(11)
memory usage: 2.6+ MB

In [17]:
df_train = df_train.drop(["ID","Manufacturer","Model", "Category"], axis = 1)
df_train.head()

,Price,Levy,Prod. year,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,13328,1399,2010,Yes,Hybrid,3.5,186005,6.0,Automatic,4x4,4-5,Left wheel,Silver,12
1,16621,1018,2011,No,Petrol,3,192000,6.0,Tiptronic,4x4,4-5,Left wheel,Black,8
2,8467,0,2006,No,Petrol,1.3,200000,4.0,Variator,Front,4-5,Right-hand drive,Black,2
3,3607,862,2011,Yes,Hybrid,2.5,168966,4.0,Automatic,4x4,4-5,Left wheel,White,0
4,11726,446,2014,Yes,Petrol,1.3,91901,4.0,Automatic,Front,4-5,Left wheel,Silver,4

In [18]:
var_list = ["Leather interior"]

def binary_map(x):
    return x.map({'Yes' : 1, 'No' : 0})

df_train[var_list] = df_train[var_list].apply(binary_map)

In [19]:
df_train.head()

,Price,Levy,Prod. year,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags
0,13328,1399,2010,1,Hybrid,3.5,186005,6.0,Automatic,4x4,4-5,Left wheel,Silver,12
1,16621,1018,2011,0,Petrol,3,192000,6.0,Tiptronic,4x4,4-5,Left wheel,Black,8
2,8467,0,2006,0,Petrol,1.3,200000,4.0,Variator,Front,4-5,Right-hand drive,Black,2
3,3607,862,2011,1,Hybrid,2.5,168966,4.0,Automatic,4x4,4-5,Left wheel,White,0
4,11726,446,2014,1,Petrol,1.3,91901,4.0,Automatic,Front,4-5,Left wheel,Silver,4

In [20]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19235 entries, 0 to 19236
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             19235 non-null  int64
 1   Levy              19235 non-null  int32
 2   Prod. year        19235 non-null  int64
 3   Leather interior  19235 non-null  int64
 4   Fuel type         19235 non-null  object
 5   Engine volume     19235 non-null  object
 6   Mileage           19235 non-null  int32
 7   Cylinders         19235 non-null  float64
 8   Gear box type     19235 non-null  object
 9   Drive wheels      19235 non-null  object
 10  Doors             19235 non-null  object
 11  Wheel             19235 non-null  object
 12  Color             19235 non-null  object
 13  Airbags           19235 non-null  int64
dtypes: float64(1), int32(2), int64(4), object(7)
memory usage: 2.1+ MB

In [21]:
df_train["Engine volume"] = df_train["Engine volume"].str.replace(' Turbo', "")

In [22]:
df_train["Engine volume"] = df_train["Engine volume"].astype(float)

In [23]:
df_train.describe()

,Price,Levy,Prod. year,Leather interior,Engine volume,Mileage,Cylinders,Airbags
count,1.923500e+04,19235.000000,19235.000000,19235.000000,19235.000000,1.923500e+04,19235.000000,19235.00000
mean,1.855714e+04,632.594437,2010.913387,0.725396,2.308011,1.532385e+06,4.582948,6.58300
std,1.905911e+05,567.714561,5.668642,0.446326,0.877847,4.840638e+07,1.199945,4.32013
min,1.000000e+00,0.000000,1939.000000,0.000000,0.000000,0.000000e+00,1.000000,0.00000
25%,5.331000e+03,0.000000,2009.000000,0.000000,1.800000,7.014650e+04,4.000000,4.00000
50%,1.317200e+04,642.000000,2012.000000,1.000000,2.000000,1.260000e+05,4.000000,6.00000
75%,2.209050e+04,917.000000,2015.000000,1.000000,2.500000,1.888440e+05,4.000000,12.00000
max,2.630750e+07,11714.000000,2020.000000,1.000000,20.000000,2.147484e+09,16.000000,16.00000

In [24]:
df_train = df_train[(df_train["Price"] != max(df_train["Price"]))]

In [25]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19234 entries, 0 to 19236
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             19234 non-null  int64
 1   Levy              19234 non-null  int32
 2   Prod. year        19234 non-null  int64
 3   Leather interior  19234 non-null  int64
 4   Fuel type         19234 non-null  object
 5   Engine volume     19234 non-null  float64
 6   Mileage           19234 non-null  int32
 7   Cylinders         19234 non-null  float64
 8   Gear box type     19234 non-null  object
 9   Drive wheels      19234 non-null  object
 10  Doors             19234 non-null  object
 11  Wheel             19234 non-null  object
 12  Color             19234 non-null  object
 13  Airbags           19234 non-null  int64
dtypes: float64(2), int32(2), int64(4), object(6)
memory usage: 2.1+ MB

In [26]:
df_train_rf = pd.get_dummies(df_train)
df_train_rf.head()

,Price,Levy,Prod. year,Leather interior,Engine volume,Mileage,Cylinders,Airbags,Fuel type_CNG,Fuel type_Diesel,...,Color_Green,Color_Grey,Color_Orange,Color_Pink,Color_Purple,Color_Red,Color_Silver,Color_Sky blue,Color_White,Color_Yellow
0,13328,1399,2010,1,3.5,186005,6.0,12,0,0,...,0,0,0,0,0,0,1,0,0,0
1,16621,1018,2011,0,3.0,192000,6.0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
2,8467,0,2006,0,1.3,200000,4.0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3607,862,2011,1,2.5,168966,4.0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,11726,446,2014,1,1.3,91901,4.0,4,0,0,...,0,0,0,0,0,0,1,0,0,0

In [32]:
y = df_train_rf["Price"]
X = df_train_rf.drop("Price", axis = 1)

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state = 0)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(14425, 42)
(4809, 42)
(14425,)
(4809,)

In [34]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import RandomizedSearchCV
from pprint import pprint

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 200, stop = 2000, num = 10)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(10, 110, num = 11)]
max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 4]
# Method of selecting samples for training each tree
bootstrap = [True, False]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

pprint(random_grid)

{'bootstrap': [True, False],
 'max_depth': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, None],
 'max_features': ['auto', 'sqrt'],
 'min_samples_leaf': [1, 2, 4],
 'min_samples_split': [2, 5, 10],
 'n_estimators': [200, 400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000]}

In [35]:
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations, and use all available cores
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid, n_iter = 100, cv = 3, verbose=2, random_state=42, n_jobs = -1)
# Fit the random search model
rf_random.fit(X_train, y_train)

Fitting 3 folds for each of 100 candidates, totalling 300 fits

RandomizedSearchCV(cv=3, estimator=RandomForestRegressor(), n_iter=100,
                   n_jobs=-1,
                   param_distributions={'bootstrap': [True, False],
                                        'max_depth': [10, 20, 30, 40, 50, 60,
                                                      70, 80, 90, 100, 110,
                                                      None],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': [200, 400, 600, 800,
                                                         1000, 1200, 1400, 1600,
                                                         1800, 2000]},
                   random_state=42, verbose=2)

In [64]:
def evaluate(model, test_features, test_labels):
    predictions = model.predict(test_features)
    errors = abs(predictions - test_labels)
    mape = 100 * np.mean(errors / test_labels)
    accuracy = 100 - mape
    print('Model Performance')
    print('Average Error: {:0.4f} degrees.'.format(np.mean(errors)))
    print('Accuracy = {:0.2f}%.'.format(accuracy))
    print('MAPE = {:0.4f}%.'.format(mape))
    
    return accuracy

base_model = RandomForestRegressor(n_estimators = 10, random_state = 42)
base_model.fit(X_train, y_train)
base_accuracy = evaluate(base_model, X_train, y_train)

Model Performance
Average Error: 2170.0803 degrees.
Accuracy = -281.30%.
MAPE = 381.3000%.

In [65]:
best_random = rf_random.best_estimator_
random_accuracy = evaluate(best_random, X_train, y_train)

Model Performance
Average Error: 1888.2945 degrees.
Accuracy = -275.43%.
MAPE = 375.4304%.

In [39]:
from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on the results of random search 
param_grid = {
    'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 1000]
}
# Create a based model
rf = RandomForestRegressor()
# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

In [40]:
grid_search.fit(X_train, y_train)

Fitting 3 folds for each of 288 candidates, totalling 864 fits

GridSearchCV(cv=3, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'bootstrap': [True], 'max_depth': [80, 90, 100, 110],
                         'max_features': [2, 3], 'min_samples_leaf': [3, 4, 5],
                         'min_samples_split': [8, 10, 12],
                         'n_estimators': [100, 200, 300, 1000]},
             verbose=2)

In [66]:
best_grid = grid_search.best_estimator_
grid_accuracy = evaluate(best_grid, X_train, y_train)

Model Performance
Average Error: 6816.6931 degrees.
Accuracy = -1214.61%.
MAPE = 1314.6111%.

In [67]:
random_accuracy = evaluate(best_random, X_test, y_test)

Model Performance
Average Error: 4930.1114 degrees.
Accuracy = -1491.33%.
MAPE = 1591.3273%.

In [68]:
grid_accuracy = evaluate(best_grid, X_test, y_test)

Model Performance
Average Error: 7599.8043 degrees.
Accuracy = -1462.93%.
MAPE = 1562.9292%.

In [50]:
test = pd.read_csv("test.csv")
df_test = test.copy()

In [51]:
df_test["Levy"] = df_test["Levy"].replace({'-' : 0})

In [52]:
df_test["Mileage"] = df_test["Mileage"].astype(str).str[:-3]

In [53]:
df_test["Engine volume"] = df_test["Engine volume"].str.replace(' Turbo', "")

In [54]:
df_test["Doors"] = df_test["Doors"].replace({'04-May' : "4-5", '02-Mar' : "2-3"})

In [55]:
df_test[var_list] = df_test[var_list].apply(binary_map)

In [56]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8245 entries, 0 to 8244
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                8245 non-null   int64
 1   Levy              8245 non-null   object
 2   Manufacturer      8245 non-null   object
 3   Model             8245 non-null   object
 4   Prod. year        8245 non-null   int64
 5   Category          8245 non-null   object
 6   Leather interior  8245 non-null   int64
 7   Fuel type         8245 non-null   object
 8   Engine volume     8245 non-null   object
 9   Mileage           8245 non-null   object
 10  Cylinders         8245 non-null   int64
 11  Gear box type     8245 non-null   object
 12  Drive wheels      8245 non-null   object
 13  Doors             8245 non-null   object
 14  Wheel             8245 non-null   object
 15  Color             8245 non-null   object
 16  Airbags           8245 non-null   int64
 17  Price             0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 1.1+ MB

In [57]:
int_var = ["Levy", "Mileage"]
df_test[int_var] = df_test[int_var].astype(int)

In [58]:
df_test["Engine volume"] = df_test["Engine volume"].astype(float)

In [59]:
df_test = df_test.drop(["ID","Manufacturer","Model", "Category", "Price"], axis = 1)

In [60]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8245 entries, 0 to 8244
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Levy              8245 non-null   int32
 1   Prod. year        8245 non-null   int64
 2   Leather interior  8245 non-null   int64
 3   Fuel type         8245 non-null   object
 4   Engine volume     8245 non-null   float64
 5   Mileage           8245 non-null   int32
 6   Cylinders         8245 non-null   int64
 7   Gear box type     8245 non-null   object
 8   Drive wheels      8245 non-null   object
 9   Doors             8245 non-null   object
 10  Wheel             8245 non-null   object
 11  Color             8245 non-null   object
 12  Airbags           8245 non-null   int64
dtypes: float64(1), int32(2), int64(4), object(6)
memory usage: 773.1+ KB

In [61]:
df_test = pd.get_dummies(df_test)

In [71]:
y_grid = best_grid.predict(df_test)

In [72]:
y_random = best_random.predict(df_test)

In [73]:
grid_results = pd.DataFrame(np.round(y_grid), columns = ["Price"])
random_results = pd.DataFrame(np.round(y_random), columns = ["Price"])

In [74]:
#grid_results.to_csv("Grid_Results.csv", index = False)
#random_results.to_csv("Random_Results.csv", index = False)